// Copyright: Joris W. van Rijn (2023). This code serves as a demonstrations of skills.
// This code may not be used or distributed for any purpose.

@import "@/assets/css/base/_mixins.scss";

.b-input {
  display: flex;
  gap: 1rem;

  &__content {
    width: 100%;
  }
}

.form-group {
  .input {
    padding: 0.75rem 1rem 0.75rem 1rem;
    margin: 0;
    border: 1px solid var(--color-neutral-quaternary);
    border-radius: 0.5rem;
    width: 100%;
    line-height: 1.4;
    height: 3rem;

    label {
      display: block;
      width: 100%;
    }

    &:focus {
      outline: none;
      border: 1px solid var(--color-brand-primary);
    }

    @include hover {
      &:hover {
        cursor: pointer;
      }
    }

    &--small {
      height: 1rem;
      padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    }

    &--error {
      border-color: var(--color-red-base);
    }
  }

  &__wrap {
    display: flex;
  }

  &--has-icon {
    .form-group__icon {
      width: 45px;
      height: 45px;
      padding: 0.75rem;
      border: 1px solid var(--color-neutral-quaternary);
      border-right-color: transparent;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;

      .b-icon-icon {
        width: 0.8125rem;
      }
    }

    .input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__error {
    color: var(--color-red-base);
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }
}
